.bg-visiniu {
	background-color: #7F0E52;
}

body {
	margin-top: 2%;
	background-color: bisque;
}

.active {
	font-size: 1.1em;
}
.btn-outline-success {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
	
}

.btn-outline-success:hover {
    color: #7F0E52;
    background-color: #fff;
    border-color: #fff;
}

